
.container {

  padding-left: 8%;
  padding-right: 8%;
}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
}
.logo{
  width: 100px;
  cursor: pointer;
  margin: 30px 0; 
}
.menu-icon{
  width: 50px;
  cursor: pointer;
}
nav{
  flex: 1;
  text-align: right;

}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a{
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
nav ul li a:hover{
  color: #2c6e49;

}
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}
.col-1{
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}
.col-1 h2{
  font-size: 54px;
}

.col-1 h3{
  font-size: 30px;
  color: #707070;
  font-weight: 100;
  margin: 20px 0 10px;
}
.col-1::after{
  content: '';
  width: 10px;
  height: 85%;
  background: linear-gradient(#4c956c, #2c6e49);
  position: absolute;
  left: -40px;
  top: 8px;
}
.col-2{
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
}
.batman{
  width: 100%;
}

/* Dev by Octavocado */
#search_bar {


    button {
    padding: 14px;
    }button:hover{background: #ccc;}
    
}

.red{
  background-color: red;
  height: 100vh;
}



/* Dev by Octavocado */