body {
  margin:0px;
}

#container {
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
}

#navbar{
  width: 100%;
  display: flex;
  align-items: center;
}

#logo{
  width: 100px;
  cursor: pointer;
  margin: 30px 0; 
}

nav{
  flex: 1;
  text-align: right;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a{
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

nav ul li a:hover{
  color: #2c6e49;
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}
.col-1{
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}

.col-1 h2{
  font-size: 54px;
}

.col-1 h3{
  font-size: 30px;
  color: #707070;
  font-weight: 100;
  margin: 20px 0 10px;
}

.col-1::after{
  content: '';
  width: 10px;
  height: 85%;
  background: linear-gradient(#4c956c, #2c6e49);
  position: absolute;
  left: -40px;
  top: 8px;
}

.col-2{
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
}

#batman{
  width: 100%;
}


#button nav{
  text-align: left;
}

#button a {
  text-decoration: none;
  font-size: 30px;
  color:#2c6e49;
}

#button img {
  position: relative;
}

#buttona:visited {
  color:#2c6e49;
}

#button ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding:0px;
  margin:0px;
  padding-top: 5vh;
}

#button li {
  background-color: white;
  padding:2px;
  display: block;
  width:100%;
  text-align:center;
  border: #2c6e49 solid 3px;
  border-radius: 30px;
  font-size: 30px;
}

#button li:hover{
  background-color: #2c6e49;
  color:white;
  transition: all 0.5s ease-in;
  animation: lihov 1s ease 0s 1 normal forwards;
}

@keyframes lihov {
  0% {
    transform: scale(1);
  }
  
  100% {
    transform: scale(1.05);
  }
}

#button li:hover a {
  transition: all 0.5s ease-in;
  color:white;
}

#achatban a {
  font-size: 35px;
  padding:2px;
  min-height: 25vh;
  display: block;
  background: url("banniererolexgauche.png") center center no-repeat;
  background-size: cover;
}

#venteban a {
  font-size: 35px;
  padding:2px;
  min-height: 25vh;
  display: block;
  background: url("banniy10.png") center center no-repeat;
  background-size: cover;
}

#sous{
  display:none;
  box-shadow: 0px 1px 2px #CCC;
  background-color:white;
}

nav > ul li:hover .sous {
  display:block;
}

/* Dev by Octavocado */
#search_bar button {
  padding: 14px;
}

#search_bar button:hover {
  background: #ccc;
}

.red {
  background-color: red;
  height: 100vh;
}

/* pour la page inscription */
.login-form {
  width: 340px;
  margin: 50px auto;
  text-align: center;
}

.login-form form {
  margin-bottom: 15px;
  background: #f8f9fa;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
  border-radius: 10px;
}

.login-form h2 {
  margin: 0 0 15px;
  text-align: center;
}

.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
  margin-bottom: 5px;
  border-radius: 10px;
  text-align: center;
}

.btn {        
  font-size: 20px;
  padding-left: 17px;
  padding-right: 17px;
  background: linear-gradient(#4c956c, #2c6e49);
  border: none;
}

#landdiv{
  text-align: center;
  margin-top: 15%;
}

footer{
  bottom: 20px;
  margin-left: 2vw;
  position: absolute;
}

#landdiv a{
    outline: none;
    text-decoration: none;
    display: inline-block;
    width:170px;
    margin-top: 20px;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: black;
    background: linear-gradient(#4c956c, #2c6e49);
}