html {
    height: 100%;
}

body {
    margin: 0px;
    position: relative;
    min-height: 100%;
}

#container {
    min-height: 100vh;
    padding: 0px;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

#navbar nav > ul{
    margin-right: 10px;
}

#logo {
    width: 20vh;
    cursor: pointer;
    margin: 10px 0px 10px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
    margin-top: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

nav ul li a:hover {
    color: #2c6e49;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    padding-left: 8%;
    padding-right: 8%;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h2 {
    font-size: 54px;
}

.col-1 h3 {
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-1::after {
    content: '';
    width: 10px;
    height: 85%;
    background: linear-gradient(#4c956c, #2c6e49);
    position: absolute;
    left: -40px;
    top: 8px;
}

.col-2 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

#batman {
    width: 100%;
}

p {
    margin: 0px;
}

#copyright {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.form_control {
    width: 200px;
}

.dropbtn {
    background-color: white;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#profiltxt{
    margin-top : 15px; 
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right:20px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transform: translate(-100px);
}

.dropdown-content a {
    color: black;
    padding: 12px 5px;
    text-decoration: none;
    display: block;
    text-align:left;

}

.show {
    display:block;

}

/* Rajout Mathis Button*/

.buttond {
    align-content: center;
}

#button nav {
    text-align: left;
}

#button a {
    text-decoration: none;
    font-size: 30px;
    color: white;
}

#button img {
    position: relative;
}

#buttona:visited {
    color: white;
}

#button ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
    margin: 0px;
    padding-top: 5vh;
}

#button li {
    width: 100%;
    text-align: center;
    border: black solid 3px;
    border-collapse: collapse;
    line-height: 25vh;
    margin: 0px;
}

#achatban a {
    font-size: 35px;
    padding: 2px;
    min-height: 25vh;
    display: block;
    background: url("images/banniererolexgauche.png") center center no-repeat;
    background-size: cover;
}

#venteban a {
    font-size: 35px;
    padding: 2px;
    min-height: 25vh;
    display: block;
    background: url("images/banniy10.png") center center no-repeat;
    background-size: cover;
}


/* Rajout Mathis Button*/


/* Message d'erreur*/

.alert {
    border: solid red 2px;
}

.alert p::before {
    content: "X ";
    color: red;
    font-size: 20px;
}


/* Message d'erreur*/


/* Rajout Mathis menu déroulant*/

header nav {
    height: 86px;
}

#menuderoulant {
    width: 60px;
}

#menuderoulant>a::after {
    content: " ▼";
}

#sousmenu {
    display: none;
    width: 100%;
    z-index: 1000;
}

#sousmenu li {
    width: 100%;
    text-align: right;
}

#sousmenu a {
    padding: 20px;
    font-size: 14px;
}

#sousmenu a:hover {
    border-bottom: none;
    background-color: RGBa(255, 255, 255, 0.1);
}

nav>ul li:hover #sousmenu {
    display: block;
    float: right;
}


/* Rajout Mathis menu déroulant*/


/* Page d'achat */

.watchtosell,
.personal_watches {
    display: inline-block;
    background: white;
    color: black;
    padding: 10px 20px 20px 20px;
    margin: 40px;
    height: 450px;
    width: 351px;
    border: solid black 2px;
    border-radius: 20px;
    vertical-align: top;
}

.watchtosell h2,
.personal_watches h2 {
    text-align: center;
}

.watchtosell h1 {
    margin: 5px 0;
}

.watchtosell img {
    height: 250px;
    width: 350px;
    margin: 7px 0;
}

.buy {
    width: 125px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #23a15c;
    color: white;
    border: solid black 2px;
    margin-left: 18px;
}

.buy2 {
    margin: 5px 0 10px 115px;
}

.buy:hover {
    animation: buttonbuy 1s ease 0s 1 normal forwards;
    background: #4c956c;
    transition: 1s ease;
    color: white;
}

@keyframes buttonbuy {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.bid {
    width: 60px;
}

.bandeau {
    display: flex;
    margin-right: 16px;
    justify-content: space-between;
}

.likes {
    display: flex;
}

#filtres {
    margin: 50px 60px 0 60px;
    display: flex;
    justify-content: space-evenly;
}

#filtres div{
    margin: 0 10px;
}

#filtres select {
    border: 2px solid #aaa;
    height: 27px;
}

#filtres label {
    margin-right: 10px;
    white-space: nowrap;
}

.priceFilter {
    width: 80px;
}

#search {
    border: none;
    background-color: #23a15c;
    padding: 3px 20px;
}

.multiple {
    display: flex;
}

.multipleFilters {
    border: 2px solid #aaa;
    height: 23px;
    padding: 1px 10px;
    cursor: pointer;
    width: 111px;
}

.multipleFilters {
    min-width: 108px;
}

.multipleFilters #filter1,
#filter2,
#filter3 {
    margin-top: 10px;
    background-color: white;
    height: 87px;
    width: 145px;
    float: left;
    display: none;
    overflow-y: scroll;
    border: solid 2px black;
    border-radius: 4px;
}

.multipleFilters #filter1 {
    width: 195px;
}

.multipleFilters #filter2,
#filter3 {
    width: 145px;
}

#noResults {
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 60px;
}


/* pour la page inscription */

.login-form {
    width: 340px;
    margin: 50px auto;
    text-align: center;
}

.login-form form {
    margin-bottom: 15px;
    background: #f8f9fa;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 10px;
}

.login-form h2 {
    margin: 0 15px;
    text-align: center;
}

.form-control {
    width: 200px;
}

.form-control,
.btn {
    min-height: 38px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
}

.btn {
    font-size: 20px;
    padding-left: 17px;
    padding-right: 17px;
    background: linear-gradient(#4c956c, #2c6e49);
    border: none;
    margin-top: 10px;
}

#landdiv {
    text-align: center;
    margin-top: 5%;
}

footer {
    bottom: 20px;
    margin-left: 2vw;
    position: absolute;
}

#landdiv a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 170px;
    margin-top: 20px;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: black;
    background: linear-gradient(#4c956c, #2c6e49);
}


/*pour le style du profil en haut a gauche dans le menu*/

#profilePic {
    height: 50px;
}


/* Landing */

#landimg {
    height: 150px;
}


/*Boutton like*/

.heart {
    position: relative;
    border: none;
    background-color: white;
    margin-left: 6px;
}

.heart:before {
    position: absolute;
    top: 0;
    left: 16px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    width: 16px;
    height: 25px;
    border-radius: 8px 8px 0 0;
    background-color: #574136;
    content: "";
    cursor: pointer;
    transition: background .4s;
}

.heart:after {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    width: 16px;
    height: 25px;
    border-radius: 8px 8px 0 0;
    background-color: #574136;
    content: "";
    cursor: pointer;
    transition: background .4s;
}

.heart.liked::before,
.heart.liked::after {
    background-color: #d65076;
}

.heart.liked {
    animation: liked .4s ease;
}

@keyframes liked {
    0% {
        transform: scale(.8);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 480px) {
    #container {
        height: auto;
    }
    h1 {
        font-size: 2.5rem;
    }
}

#tr {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 170px;
    margin-top: 20px;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: black;
    background: linear-gradient(#4c956c, #2c6e49);
}


/* Dev by Octavocado */

* {
    font-family: 'Manrope', sans-serif;
}

#search_bar button {
    padding: 14px;
}

#search_bar button:hover {
    background: #ccc;
}

h1,h2 {
    text-align: center;
}

section.form .text div {
    display: flex;
    justify-content: space-around;
}


/**/

section.form .text #champ1,
section.form .text #champ2,
section.form .text #champ3,
section.form .text #champ4,
section.form .text #champ5,
section.form .text #champ6,
section.form .text #champ7 {
    padding: 10px 0 10px 0;
    border-radius: 4px;
    display: inline-grid;
    text-align: center;
}

section.form .text * label {
    color: hsl(120, 100%, 95%);
    background: rgb(46, 117, 95);
    background: linear-gradient(0deg, rgba(46, 117, 95, 1) 0%, rgba(6, 6, 42, 1) 22%, rgba(2, 0, 36, 1) 31%);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
}

section.form .text #champ1 * input {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

section.form form {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

section.form form div.data {
    margin-right: 40px;
}

section.form form div.file-area {
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: flex;
    justify-content: center;
}

section.form form div.file-area input[type=file] {
    width: 100%;
    text-align: center;
}

section.form form div.file-area p {
    text-align: center;
}

section.form form div.file-area {
    height: 100%;
}

section.form form button {
    color: #fff;
    background: #89d681;
    border: none;
    width: 35px;
    height: 300px;
    border-radius: 4px;
    border-bottom: 4px solid #2c6e49;
    outline: none;
}

section.form form .data {
    display: inline-grid;
    justify-content: center;
}

.sous-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sous-menu li {
    text-decoration: none;
}



/* dev by Avocado */


/* Pour la page profil*/

#personaldisplay {
    display: flex;
    flex-direction: row;
    justify-content: center;
}